

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import "tailwindcss";



*{
    font-family: "Bellefair", serif;
}

.reset-tw , .reset-tw *{
    all:revert !important;
  }